@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-regal-blue:#D91B7E;
    --color-custom-gray:#64748B;
    --font-inter: "Inter", sans-serif;
}

:root {
    --gradient-brand: linear-gradient(65deg, #f97316 0%, #ec4899 50%, #8b5cf6 100%);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #64748B;
    overflow-x: hidden;
}
